def localStackDir = System.getenv("NF_NOMAD_LOCAL_STACK_DIR") ?: "${launchDir}/../../infrastructure/03_automation/035_terraform/local-nomad-minio"
def localWorkDir = System.getenv("NF_NOMAD_LOCAL_WORK_DIR") ?: "${localStackDir}/work"
def localNextflowHome = System.getenv("NF_NOMAD_LOCAL_NXF_HOME") ?: "${System.getenv("HOME")}/.nextflow"
plugins {
    id "nf-nomad@${System.getenv("NOMAD_PLUGIN_VERSION") ?: "99.99.99"}"
}



aws.client.anonymous = true

process {
    executor = "nomad"
    shell = ['/bin/bash', '-euo', 'pipefail']
}

// nf-nomad-dev workspace
tower {
    workspaceId = "276172789442513"

}

docker {
    enabled = true
}


workDir = localWorkDir


nomad {

    // debug = true

    client {
        address = "http://localhost:4646"
    }

    jobs {

        // namespace = 'nf-nomad'

	failOnPlacementFailure = true
	placementFailureTimeout = "10s"
        deleteOnCompletion = false
        volumes = [{ type "host" name "work" path "${localWorkDir}/" },
                   { type "host" name "dothome_nextflow" path "${localNextflowHome}/" }]

    }

}
