# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*

# Ignore Gradle build output directory
build
work
out

_resources
oracle-nomad-cluster
sun-nomadlab

.project
.classpath
.settings
/validation/nomad_temp/**
/validation/nomad
