plugins {
    id "nf-nomad@${System.getenv("NOMAD_PLUGIN_VERSION") ?: "latest"}"
}

process {
    executor = "nomad"
}

aws {
    accessKey = secrets.MY_ACCESS_KEY
    secretKey = secrets.MY_SECRET_KEY
}

nomad {

    client {
        address = "http://localhost:4646"
    }

    jobs {
        deleteOnCompletion = false
        volume = { type "host" name "scratchdir" }
        namespace = 'nf-nomad'

        secrets {
            enabled = true //if false then use LocalSecretsProvider implementation
        }
    }

}

