plugins {
    id "nf-nomad@${System.getenv("NOMAD_PLUGIN_VERSION") ?: "latest"}"
}

process {
    executor = "nomad"
}

nomad {

    client {
        address = "http://localhost:4646"
    }

    jobs {
        deleteOnCompletion = false
        volume = { type "host" name "scratchdir" }
    }

}

profiles{
    localnomad{
        process {
            withName: sayHello {
                datacenters = ['test-datacenter', 'demo-datacenter']
                priority = 66
            }
        }
    }
}