plugins {
    id "nf-nomad@99.99.99"
}

process {
    executor = "nomad"
}

nomad {

    client {
        address = "http://127.0.0.1:4646"
    }

    jobs {
        deleteOnCompletion = false

        volumes = [
            { type "host" name "scratchdir" path '/tmp/nomad/nomad_temp/scratchdir/'},
            { type "host" name "scratchdir" path "/var/data1/" },
            { type "host" name "scratchdir" path "/var/data2/" }
        ]
    }

}
