plugins {
    id "nf-nomad@99.99.99"
}

process {
    executor = "nomad"
}

nomad {

    client {
        address = "http://127.0.0.1:4646"
    }

    jobs {
        deleteOnCompletion = true
        volumes = [
            { type "host" name "scratchdir" path '/tmp/nomad/nomad_temp/scratchdir/'},
        ]
    }

    namespace = 'nf-nomad'

    secrets {
        enabled = true
    }
}

profiles{
    localnomad{
        process {
            withName: sayHello {
                datacenters = ['test-datacenter', 'demo-datacenter']
                constraints = {
                    node {
                        unique = [ name: System.getenv('HOSTNAME') ]
                    }
                }
            }
        }
    }
}
