plugins {
    id "nf-nomad@99.99.99"
}

process {
    executor = "nomad"
}

nomad {

    client {
        address = "http://127.0.0.1:4646"
    }

    jobs {
        deleteOnCompletion = true
        volumes = [
            { type "host" name "scratchdir" path '/tmp/nomad/nomad_temp/scratchdir/'},
        ]
        spreads = {
            spread = [ name:'node.datacenter', weight: 50 ]
        }
    }

    namespace = 'nf-nomad'

    secrets {
        enabled = true
    }
}

process {
    withName: sayHello {
        datacenters = ['test-datacenter', 'demo-datacenter']
        spread = [ name:'node.datacenter', weight: 50, targets : ['us-east1':70, 'us-east2':30] ]
    }
}
