plugins {
    id "nf-nomad@${System.getenv("NOMAD_PLUGIN_VERSION") ?: "99.99.99"}"
}

process {
    executor = "local"
}

nomad {

    enabled = false

    client {
        address = null
    }

    jobs {
        deleteOnCompletion = false
        volume = [ type: "host", name: "scratchdir" ]
        nodePool = "dev"
    }

}
