plugins {
    id "nf-nomad@${System.getenv("NOMAD_PLUGIN_VERSION") ?: "latest"}"
}

process {
    executor = "nomad"
}

nomad {

    client {
        address = "http://localhost:4646"
    }

    jobs {
        deleteOnCompletion = false
        volumes = [
            { type "host" name "scratchdir" },
            { type "host" name "scratchdir" path "/var/data" },  // can mount same volume in different path
        ]
    }

}
