plugins {
    id 'nf-nomad@latest'
}

process {
    executor = "nomad"
}

nomad {

    client {
        address = "http://localhost:4646"
    }

    jobs {
        deleteOnCompletion = false

        volume = { type "host" name "scratchdir" }

        volumes = [
            { type "host" name "scratchdir" path "/var/data1" },
            { type "host" name "scratchdir" path "/var/data2" }
        ]
    }

}
