nomad{
    debug {
        path = "nomad_output.json"
    }
}

profiles{
    constraints_profile{
        nomad {
            jobs{
                deleteOnCompletion = false
                constraints  {
                    node {
                        unique = [ name: params.RUN_IN_NODE ]
                    }
                }
            }
        }

    }
    constraints_node{
        process {
            withName: sayHello {
                constraints  {
                    node {
                        unique = [ name: params.RUN_IN_NODE ]
                    }
                }
            }
        }
    }

    constraints_nodepool{
        process {
            withName: sayHello {
                nomadOptions = [
                    nodePool: params.RUN_HELLO_IN_NODE  // overrides global for this process only
                ]
            }
        }
    }
}