baseDir = "/tmp/nomad/nomad_temp/basedir"

aws.client.anonymous = true

process {
    executor = "nomad"
    shell = ['/bin/bash', '-euo', 'pipefail']
}

// nf-nomad-dev workspace
tower {
    workspaceId = "276172789442513"

}

docker {
    enabled = true
}


nomad {

    client {
        pollInterval = "2s"
        submitThrottle = "100ms"
    }

}
