nomad {

    jobs {
        spreads = {
            spread = [ name:'node.datacenter', weight: 50 ]
        }
    }
}

process {
    withName: sayHello {
        datacenters = ['test-datacenter', 'demo-datacenter']
        spread = [ name:'node.datacenter', weight: 50, targets : ['us-east1':70, 'us-east2':30] ]
    }
}
