plugins {
    id "nf-nomad@${System.getenv("NOMAD_PLUGIN_VERSION") ?: "latest"}"
}

process {
    executor = "nomad"
}

aws {
// From Nomad variables secret store
      accessKey = secrets.SUN_NOMADLAB_MINIO_ACCESS_KEY
      secretKey = secrets.SUN_NOMADLAB_MINIO_SECRET_KEY

// From local Nextflow secret store
  // accessKey = secrets.SUN_NOMADLAB_ACCESS_KEY
  // secretKey = secrets.SUN_NOMADLAB_SECRET_KEY

    client {
        endpoint = 'http://100.119.165.23:9000'
    }
}

wave {
    enabled = true
}

fusion {
    enabled = true
    exportStorageCredentials = true
}

nomad {

    client {
        address = 'http://100.119.165.23:4646'
    }

    jobs {
        namespace = 'nf-nomad'
        secrets {
            enable = true
        }
        deleteOnCompletion = false

        volume = { type "host" name "scratch" }

//        constraints = {
//
//            node {
//                unique = [name: "nomad03"]
//            }
//
//            attr {
//                unique = [hostname:'nomad03']
//                //raw 'platform.aws.instance-type', '=', 'm4.xlarge'
//            }
        }
    }
