plugins {
    id 'nf-nomad@latest'
}

process {
    executor = "nomad"
}

aws {
    accessKey = secrets.SUN_NOMADLAB_ACCESS_KEY
    secretKey = secrets.SUN_NOMADLAB_SECRET_KEY
    client {
        endpoint = 'http://100.119.165.23:9000'
    }
}

wave {
  enabled = true
}

fusion {
  enabled = true
  exportStorageCredentials = true
}

nomad {

    client {
     address = 'http://100.119.165.23:4646'
    }

    jobs {
         deleteOnCompletion = true
         volumes = [ { type "csi" name "juicefs-volume" } ]
         constraints: {
            attr {
                unique = [hostName:'nomad02']
            }
         }

    }
}
