plugins {
    id 'nf-nomad@latest'
}

process {
    executor = "nomad"
}

nomad {

     client {
         address = "http://10.0.2.6:4646"
     }

     jobs {
         deleteOnCompletion = false
         namespace = "nf"
         volumes = [ 
		{ type "csi" 
		  name "nextflow-fs-volume" 
		}
	 ]
     }

}
