plugins {
    id 'nf-nomad@0.0.3'
}

params {
    reads = 's3://rnaseq-nf/ggal/ggal_liver_{1,2}.fq'
    transcriptome = 's3://rnaseq-nf/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa'
}

process {
    executor = "nomad"
    container = "quay.io/nextflow/rnaseq-nf:v1.1"

    withName: "INDEX" {
        cpus = 4
    }
}

nomad {

    client {
        address = "http://localhost:4646"
        //token = "FIXME"
        }

    jobs {
       volume = { type "host" name "scratchdir" }
       mountNextflowHome = true
    }

}

aws {

//For minio.nomad job on macbookpro19

    accessKey = 'FIXME'
    secretKey = 'FIXME'

    client {
            endpoint = "http://localhost:9000"
            s3PathStyleAccess = true
            protocol = "http"
        }
}


/*
wave {
  enabled = true
}

fusion {
    enabled = true
    exportStorageCredentials = true
    logLevel = "debug"
}
*/
